.scroll .box {
    position: fixed;
    inset: 90% auto auto 95%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.box .txtbox {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid #666;
}


.box .txtbox span {
    position: absolute;
    inset: 0 auto auto 50%;
    font-size: 13px;
    height: 50%;
    transform-origin: bottom center;
    text-transform: uppercase;
}

#header .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    line-height: 100px;
    justify-content: space-between;
}

#header .container .gnb ul {
    display: flex;
    gap: 20px;
    font-size: 17px;
    font-weight: 500;
}

#header .container .btn i {
    font-size: 25px;
    padding: 0 10px;
}

.sticky {
    position: sticky;
    top: 0;
    overflow: hidden;
}

#main .mainVisual {
    position: relative;
}

#main .mainVisual figure {
    height: 700px;
}

#main .mainVisual .slogan {
    position: absolute;
    inset: 50% auto auto 65%;
    transform: translate(-50%, -50%);
}

#main .mainVisual .slogan h2 {
    font-size: 65px;
    font-weight: 700;
    color: #fff;
}

#main .mainEye {
    padding: 100px 0;
    height: 100vh;
}

#main .mainEye .container {
    width: 1200px;
    margin: 0 auto;
}

#main .mainEye h2 {
    text-align: center;
    font-size: 27px;
    font-weight: 700;
    margin: 0 0 10px 0;
    color: #333;
}

#main .mainEye p {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 30px 0;
    color: #333;
}

#main .mainEye .container {
    display: flex;
}

#main .mainEye .container figure {
    flex: 1;
}

.lipSticky .container figure {
    background: url(../img/main_visual05.jpg);
    height: 100vh;
}

.mainLip {
    position: relative;
    z-index: 999;
}

.mainLip .container .inner {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: flex-end;
}

.mainLip .container .inner .left h2 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.mainLip .container .inner .box {
    display: flex;
    gap: 30px;
}

.mainLip .container .inner .box h3 {
    font-size: 25px;
    font-weight: 500;
    padding: 100px 0 0 50px;
    margin: 0 0 10px 0;
    color: #f1f1f1;
}

.mainLip .container .inner .box p {
    font-size: 14px;
    font-weight: 300;
    color: #f1f1f1;
    line-height: 1.4;
    padding: 0 0 0 50px;
}

.mainLip .container .inner .item02 h3 {
    padding: 140px 25px 0 25px;
}

.mainLip .container .inner .item02 p {
    padding: 0 25px;
}

.mainLip .container .inner .item03 {
    margin: 0 0 100px 0;
}

.mainFace {
    background: #fff;
    height: 100vh;
    padding: 100px 0;
}

.mainFace h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #333;
    margin: 0 0 30px 0;
}

.mainFace .container {
    width: 1200px;
    margin: 0 auto;
}