@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Nanum+Myeongjo&display=swap');

.scroll .box {
    position: fixed;
    inset: 90% auto auto 95%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.box .txtbox {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid #666;
}


.box .txtbox span {
    position: absolute;
    inset: 0 auto auto 50%;
    font-size: 13px;
    height: 50%;
    transform-origin: bottom center;
    text-transform: uppercase;
}

#header .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    line-height: 100px;
    justify-content: space-between;
}

#header .container h1 {
    font-size: 0;
}

#header .container .gnb ul {
    display: flex;
    gap: 20px;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Libre Baskerville', serif;
}

#header .container .btn i {
    font-size: 25px;
    padding: 0 10px;
}

.sticky {
    position: sticky;
    top: 0;
    overflow: hidden;
}

#main .mainVisual {
    position: relative;
}

#main .mainVisual figure {
    height: 700px;
}

#main .mainVisual .slogan {
    position: absolute;
    inset: 50% auto auto 65%;
    transform: translate(-50%, -50%);
}

#main .mainVisual .slogan h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 65px;
    font-weight: 900;
    color: #fff;
}

#main .mainEye {
    padding: 100px 0;
    height: 90vh;
}

#main .mainEye .container {
    width: 1200px;
    margin: 0 auto;
}

#main .mainEye h2 {
    text-align: center;
    font-size: 27px;
    font-weight: 700;
    margin: 0 0 10px 0;
    color: #333;
    letter-spacing: 0.025em;
}

#main .mainEye p {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Libre Baskerville', serif;
    margin: 0 0 30px 0;
    color: #333;
}

#main .mainEye .container {
    display: flex;
}

#main .mainEye .container figure {
    flex: 1;
}

.lipSticky .container figure {
    background: url(../img/main_visual05.jpg);
    height: 100vh;
}

.mainLip {
    position: relative;
    z-index: 998;
}

.mainLip .container .inner {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: flex-end;
}

.mainLip .container .inner .left h2 {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Libre Baskerville', serif;
    color: #fff;
    text-align: center;
}

.mainLip .container .inner .box {
    display: flex;
    gap: 30px;
}

.mainLip .container .inner .box h3 {
    font-size: 25px;
    font-weight: 500;
    padding: 100px 0 0 50px;
    margin: 0 0 10px 0;
    color: #f1f1f1;
    letter-spacing: 0.025em;
}

.mainLip .container .inner .box p {
    font-size: 14px;
    font-weight: 300;
    color: #f1f1f1;
    line-height: 1.4;
    padding: 0 0 25px 50px;
    letter-spacing: 0.025em;
}

.mainLip .container .left .pay ul {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 0 0 40px 0;
}

.mainLip .container .left .pay li:nth-child(1) {
    color: #ddd;
}

.mainLip .container .left .pay li:nth-child(2) {
    color: rgb(250, 18, 18);
}

.mainLip .container .left .pay li:nth-child(3) {
    font-size: 17px;
    font-weight: 500;
    color: #fff;
}

.mainLip .container .inner .item02 h3 {
    padding: 140px 25px 0 25px;
}

.mainLip .container .inner .item02 p {
    padding: 0 25px 25px;
}

.mainLip .container .inner .item02 a {
    margin: 0 0 0 23px;
}

.mainLip .container .inner .item01 .pay ul {
    justify-content: flex-start;
    padding: 0 0 0 50px;
}

.mainLip .container .inner .item02 .pay ul {
    justify-content: flex-start;
    padding: 0 0 0 23px;
}

.mainLip .container .inner .item03 .pay ul {
    justify-content: flex-start;
    padding: 0 0 0 50px;
}

.mainLip .container .inner .item03 {
    margin: 0 0 100px 0;
}

.mainLip .container .inner a {
    border: 1px solid #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 20px;
    color: #fff;
    margin: 0 0 0 50px;
    letter-spacing: 0.025em;
}

.mainFace {
    background: #f9f9f9;
    height: 80vh;
    padding: 100px 0;
}

.mainFace h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Libre Baskerville', serif;
    color: #333;
    margin: 0 0 30px 0;
}

.mainFace .container {
    display: flex;
    width: calc((100% - 1200px) / 2 + 1200px);
    margin: 0 0 0 auto;
}

.mainFace .container .left {
    width: 25%;
}

.mainFace .container .left figure {
    padding: 120px 0 20px 0;
}

.mainFace .container .left h3 {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin: 0 0 10px 0;
    color: #444;
    letter-spacing: 0.025em;
}

.mainFace .container .left p {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    line-height: 1.3;
    color: #444;
    padding: 0 0 20px 0;
    letter-spacing: 0.025em;
}

.mainFace .container .left .txtSlide .pay ul {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 0 0 30px 0;
}

.mainFace .container .left .pay li:nth-child(1) {
    color: #666;
}

.mainFace .container .left .pay li:nth-child(2) {
    color: rgb(160, 51, 51);
}

.mainFace .container .left .pay li:nth-child(3) {
    font-size: 17px;
    font-weight: 500;
    color: #333;
}

.mainFace .container .left .txtSlide .buy {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.mainFace .container .left .txtSlide .buy a {
    border: 1px solid #333;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 20px;
    color: #333;
    justify-content: center;
    letter-spacing: 0.025em;
}

.mainFace .container .right {
    width: 75%;
    overflow: hidden;
    padding: 0 0 0 50px;
}

.mainFace .container .right .faceSlide {
    width: 120%;
}

.mainFace .container .right .faceSlide figure img {
    opacity: 0.5;
}

.mainFace .container .right .faceSlide figure.slick-current img {
    opacity: 1;
}

.mainFace .arrow {
    text-align: center;
    padding: 20px 0;
}

.mainFace .arrow i {
    font-size: 30px;
    font-weight: 500;
    padding: 0 30px;
}

.mainOther {
    padding: 100px 0;
    background: #fff;
    position: relative;
    z-index: 999;
}

.mainOther h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Libre Baskerville', serif;
    color: #333;
    margin: 0 0 30px 0;
}

.mainOther .container {
    display: flex;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;
}

.mainOther .container figure {
    background: #f9f9f9;
    margin: 0 0 20px 0;
    padding: 20px;
    transition: 0.5s;
    border-radius: 15px;
}

.mainOther .container figure img {
    transition: 0.5s;
}

.mainOther .container figure:hover img {
    transform: scale(1.2);
}

.mainOther .container h3 {
    font-size: 17px;
    font-weight: 500;
    color: #333;
    text-align: center;
    letter-spacing: 0.025em;
    margin: 0 0 10px 0;
}

.mainOther .container .content .txt .pay ul {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 0 0 30px 0;
    font-size: 15px;
}

.mainOther .container .pay li:nth-child(1) {
    color: #888;
}

.mainOther .container .pay li:nth-child(2) {
    color: rgb(250, 18, 18);
}

.mainOther .container .pay li:nth-child(3) {
    font-size: 17px;
    font-weight: 500;
    color: #444;
}

.mainFin {
    position: relative;
    z-index: 999;
    display: flex;
    align-items: center;
    background: url(../img/main_visual09.jpg) no-repeat center;
    height: 600px;
}

.mainFin .container {
    width: 1200px;
    margin: 0 auto;
    align-items: center;
}

.mainFin .container h2 {
    font-size: 30px;
    font-weight: 700;
    color: #444;
    margin: 0 0 10px 0;
    line-height: 1.25;
}

#footer {
    position: relative;
    z-index: 999;
    background: #333;
}

#footer .container {
    width: 1200px;
    margin: 0 auto;
}

#footer .top {
    border-bottom: 1px solid #ddd;
}

#footer .top .container {
    display: flex;
    justify-content: space-between;
}

#footer .container h2 {
    line-height: 100px;
    font-size: 0;
}

#footer .container dl {
    display: flex;
    gap: 15px;
    line-height: 100px;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
}

#footer .container .icon {
    line-height: 100px;
    color: #fff;
}

#footer .container .icon i {
    padding: 0 5px;
}

#footer .bottom ul {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    line-height: 100px;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
}